<div class="content-header">
    <!-- Hamburger Icon -->
    <i class="bi bi-list" id="hamburger-icon" onclick="openSideNavbar()"></i>
    <a href="/" class="logo">
        <strong>CSV</strong>
        <span>Upload</span>
    </a>
    <!-- User Image Icon -->
    <img class="user-img-icon" src="/assets/images/man (1).png" alt="">
</div>

<div class="side-navbar">
    <!-- Nav List -->
    <ul class="nav-list">
        <li class="nav-list-items">
            <a href="/" style="text-decoration: none;">
                <i class="bi bi-filetype-csv"></i>
                My Files
            </a>
        </li>
        <li class="nav-list-items">
            <i class="bi bi-clock"></i>
            Recent
        </li>
        <li class="nav-list-items">
            <i class="bi bi-star"></i>
            Favourite
        </li>
        <li class="nav-list-items">
            <i class="bi bi-trash3"></i>
            Trash
        </li>
        <li class="nav-list-items">
            <i class="bi bi-gear"></i>
            Settings
        </li>
    </ul>
</div>

<!-- Dark Background -->
<div class="dark-bg"></div>

<div class="user-section">
    <div class="account-details">
        <!-- User Image -->
        <img src="/assets/images/man (1).png" alt="" class="user-img">
        <h3 class="user-name">Ashis Kumar Yadav</h3>
    </div>

    <div class="storage-container">
        <h3>Storage Used</h3>
        <div class="storage-bar">
            <div class="used-storage"></div>
        </div>
        <span>0.3GB of 10GB</span>

        <!-- Upgrade Plans -->
        <div class="upgrade-storage">
            <h3>Select Plans</h3>
            <div class="plans">
                <div class="upgrade-plans">
                    <h4>10GB</h4>
                    <p>Free Plan</p>
                </div>
                <div class="upgrade-plans">
                    <h4>100GB</h4>
                    <p>Pro Plan</p>
                </div>
            </div>
            <div class="upgrade-pro">
                <div class="upgrade-btn">
                    <img src="/assets/images/crown.png" alt="">
                    Upgrade to Premium
                </div>
            </div>
        </div>
    </div>
    
    <!-- Feature Coming Soon -->
    <strong>FEATURE COMING SOON!!!</strong>
    
    <!-- Sign Out -->
    <a href="#" class="sign-out">
        <i class="bi bi-box-arrow-left"></i>
        Sign Out
    </a>
</div>
